{% extends "home.html" %}
{% block title %}login {% endblock %}
{% block content %}
<h1 style="color: yellowgreen;">BIRDS</h1>
<img  class="an"  src="static\birds-in-london-5.jpg" alt="">
<img  class="an"  src="static\th (1).jpg" alt="">
<img  class="an"  src="static\th (15).jpg" alt="">
<img  class="an"  src="static\th (16).jpg" alt="">
<img  class="an"  src="static\th (17).jpg" alt="">
<hr>


<h1 style="color: rgb(35, 152, 132);">PRIMATES</h1>
<img  class="an"  src="static\th (9).jpg" alt="">
<img  class="an"  src="static\th (11).jpg" alt="">
<img  class="an"  src="static\th (10).jpg" alt="">
<img  class="an"  src="static\th (12).jpg" alt="">
<img  class="an"  src="static\th (18).jpg" alt="">
<hr>

<h1 style="color: rgb(224, 49, 10);">REPTILES</h1>
<img  class="an"  src="static\th (19).jpg" alt="">
<img  class="an"  src="static\th (20).jpg" alt="">
<img  class="an"  src="static\th (6).jpg" alt="">
<img  class="an"  src="static\th (8).jpg" alt="">
<img  class="an"  src="static\th (7).jpg" alt="">
<hr>


<h1 style="color: rgb(237, 249, 8);">CARNIVORES</h1>
<img  class="an"  src="static\th (2).jpg" alt="">
<img  class="an"  src="static\th (3).jpg" alt="">
<img  class="an"  src="static\th (4).jpg" alt="">
<img  class="an"  src="static\th (21).jpg" alt="">
<img  class="an"  src="static\th (22).jpg" alt="">
<hr>

<h1 style="color: #f9083842;">OMNIVORES</h1>
<img  class="an"  src="static\th (13).jpg" alt="">
<img  class="an"  src="static\th (23).jpg" alt="">
<img  class="an"  src="static\th (24).jpg" alt="">
<img  class="an"  src="static\th (26).jpg" alt="">
<img  class="an"  src="static\th (25).jpg" alt="">
<hr>

<h1 style="color: #079e23d6;">HERBIVORES</h1>
<img  class="an"  src="static\th (5).jpg" alt="">
<img  class="an"  src="static\rexfeatures_3264895a_luzjm7.webp" alt="">
<img  class="an"  src="static\is-a-rabbit-a-herbivore.jpg" alt="">
<img  class="an"  src="static\elephant-cbde891360-720x540.webp" alt="">
<img  class="an"  src="static\th (27).jpg" alt="">

{% endblock %}